{% capture background_banner %}{% editable_file "Bannière", priority: 100 %}{% endeditable_file %}{% endcapture %}
{% capture title_banner %}{% editable_text "Titre sur bannière", priority: 99 %}Events{% endeditable_text %}{% endcapture %}
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 450px;">
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url('{{background_banner}}')"></div>
  <div class=" parallax-text center-it page-title text-center">
    <h1 class="">{{ title_banner }}</h1>
    <p>{% editable_text 'Sous-titre bannière', priority: 98 %}Event Intelligence for All types of events (Tradeshow, Congress, General Assembly, Corporate Events, Training, incentive, Team building){% endeditable_text %}</p>
  </div>
</div><!--end page header-->
<!-- <div class="container"> -->
{% if notice %}<div class="alert alert-success">{{ notice }}</div>{% endif %}
{% if alert %}<div class="alert alert-danger">{{ alert }}</div>{% endif %}
<div class='grey-bg'>
  <div class="space-90"></div>
  <div class="container">
    <div class="row">
      {% assign sorted_all_articles = collections.articles | sort:'rank' %}
      {% for article in sorted_all_articles  %}
        {% if article.type == "events_type" %}
          <div class="col-md-6 col-lg-3 margin-b-30">
            <div class="feature-box-center text-center">
              {% if article.illustration_type_event != blank %}
                <img class="img-event" data-src="{{article.illustration_type_event}}" alt="{{article.titre_en}}">
              {% endif %}
              <h4 class="text-capitalize">{{article.titre_en}}</h4>
              {{article.intro_en}}
              <p>
                <a href="/en/events/{{article.slug}}" title="{{article.titre_en}}">More ...</a>
              </p>
            </div>
          </div><!--/col-->
        {% endif %}
      {% endfor %}
    </div>
    <div class='space-60'></div>
  </div>
</div>
